<div class="container ">
		<div class="row">
			<div class= "col-md-12">
				<h1 class="text-center font-weight-bold">ながのCAKE</h1>
				<h4 class="text-center font-weight-bold">〜長野県にある小さな洋菓子店〜</h4><br>
				<p class="text-center">Instagramで今話題の洋菓子店が通販で買えるようになりました！</p>
				<P class="text-center">友人や家族、大切な人へのプレゼントにいかがでしょうか？</P>
				<P class="text-center">心を込めて私たちが作らせて頂きます♪</P>
				<br><br><br>
			</div>
		</div>
</div>

