<div class="about">
	<br>
		<div class="row mt-5">
			<div class= "col-md-12 mt-5">
				<h1 class="text-center font-weight-bold">ながのCAKE</h1>
				<h3 class="text-center font-weight-bold">〜長野県にある小さな洋菓子店〜</h3><br>
				<h4 class="text-center">Instagramで今話題の洋菓子店が通販で買えるようになりました！</h4>
				<h4 class="text-center">友人や家族、大切な人へのプレゼントにいかがでしょうか？</h4>
				<h4 class="text-center">心を込めて私たちが作らせて頂きます♪</h4>
				<br><br><br>

		</div>
	</div>
</div>

