
<div class="slideshow">
  <img src="/assets/slide-1.jpg" alt="" width="2000" height="1050">
  <img src="/assets/slide-2.jpg" alt="" width="2000" height="1050">
  <img src="/assets/slide-3.jpg" alt="" width="2000" height="1200">
  <img src="/assets/slide-4.jpg" alt="" width="2000" height="1050">
</div>

<br><br>
<h2 class="text-center font-weight-bold">カテゴリー</h2>
