
	<div class="container">
		<div class="row">
			<div class= "col-md-6 ml-5 mb-5">
				<h4 class="font-weight-bold mt-5 mb-3">パスワード編集</h4>

				<%= form_for(@customer, url: '/customer/update_password') do |f| %>


					<p>新しいパスワード</p>
						<%= f.text_field :password, class: "col-md-5"  %>
					<p >新しいパスワード</p>
						<%= f.text_field :password_confirmation, class: "col-md-5" %><br>

					<br><%= f.submit '保存する',class: 'btn btn-info col-md-5' %><br>

				<% end %>
			</div>
		</div>
	</div>