	<br><br>
	<div class="container">
		<div class="row">
			<div class= "col-md-12">
				<div class="center-block">
					<h4 class="text-center font-weight-bold">パスワード編集</h4>

	<%= form_for(@customer, url: '/customer/update_password') do |f| %>


		<p class="text-center">新しいパスワード</p>
			<p class="text-center"><%= f.text_field :password %></p>
		<p class="text-center">新しいパスワード</p>
			<p class="text-center"><%= f.text_field :password_confirmation %></p>

		<br><%= f.submit '保存する' %>
	<% end %>