<div class="container pt-3"><h1>商品一覧</h1></div>

<% @items.each do |item| %>
    <div class="container">
      <%= link_to attachment_image_tag(item, :image, :fill, 120, 120, format: 'jpg', fallback: "no_image.jpg"), item_path(item) %>
    </div>
    <%= item.name %>
    <%= item.price %>
<% end %>

