<div class="container pt-3">
  <h1>商品一覧</h1>
  <div class="row">
    <div class="col-3">
      <div class="genre">
        <h3>ジャンル検索</h3>
        <% @genre.each do |genre| %>
          <p><%= genre.name %></p>
        <% end %>
      </div>
    </div>
    <div class="item-box d-flex justify-content-between">
        <% @items.each do |item| %>
          <div class="col-3">
            <%= link_to attachment_image_tag(item, :image, :fill, 30, 30, format: 'jpg', fallback: "no_image.jpg", size:"150x100"), item_path(item) %>
            <p><%= item.name %></p>
            <p>￥<%= item.price %></p>
          </div>
        <% end %>
    </div>
  </div>
</div>

