/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
/*
 *= require font-awesome
 */
@import "font-awesome";
@import "bootstrap";
@import "home";


.slideshow {
  overflow: hidden;
  position: relative;
  min-width: 960px;
  height: 850px;
}

.slideshow img {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -1000px;
}

.no-js .slideshow img:first-child {
  display: inline;
}


/* 共通レイアウト */
.container{
	margin-top: 20px;
}


/* 退会ページ */
.button-unsubscribe {
  margin: 0 auto;
  text-align: center;
}

/*会員登録情報*/
.button-edit {
  margin: 0 auto;
  text-align: center;
}

/*nav*/
.nav_item {
  margin-right: 30px;
}

.navbar-nav {
  margin-right: 50px;
}

