/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self

 *= require font-awesome
 */
@import "font-awesome";
@import "bootstrap";
@import "cart_items";
@import "items";

/*共通レイアウト*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #faf8ee;
}

.container{
	margin-top: 20px;
}

.slideshow {
  overflow: hidden;
  position: relative;
  min-width: 500px;
  height: 850px;
}

.slideshow img {
  display: none;
  position: absolute;
  width: 300px;
  margin-left: -1000px;
}

.no-js .slideshow img:first-child {
  display: inline;
}

.wrapper{
    min-height: 100vh;
    position: relative;
}

footer{
  line-height: 50px;
  height: 50px;
  background: lightpink;
  width: 100%;
}
 footer p {
    margin-bottom: 0;
  }

/* 退会ページ */
.button-unsubscribe {
  margin: 0 auto;
  text-align: center;
}

/*会員登録情報*/
.button-edit {
  margin: 0 auto;
  text-align: center;
}

/*nav*/

.navbar{
  height: 90px;
}

.navbar-logo{
color: #FFFFFF;
font-size:30px;
}
.nav_item {
  margin-right: 30px;
}

.search{
  margin-right: 100px;
}

.navbar-nav {
  margin-right: 50px;
}

/*about*/
.about {
  width: 100%;
  height: 800px;
  background-image: url("abundance.jpg");
  background-position: center center;
  background-size: cover;
  color: #FFFFFF;
}

.btn-cake{
  width: 30%;
  text-align: center;
  margin: 0 auto;
}
// 背景

.strawberry{
   width: 100%;
  position: absolute;
  top: 90;
  background: linear-gradient(bottom,#faf8ee ,transparent),url("strawberry.jpg");
  background-size: cover;
  height: 1400px;
  opacity: 0.2;
}

// スライドショー
.img{
  height: 400px;
  width :100%; 
  border-radius:  30px;
}

.sliderArea{
  margin-top: 100px;
}
.slick-prev, .slick-next {
    z-index: 1;
}
.slick-arrow:before, .slick-arrow:before {
    color: #000 !important;
}

.full-screen-o.slider {
    max-width: 1000px;
    margin: 0 auto;
}
.full-screen-o .slick-dots {
    bottom: -33px;
}
.full-screen-o .slick-dots li {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.full-screen-o .slick-dots li button {
    font-size: 0;
    line-height: 0;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    text-indent: -9999px;
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 8px;
    outline: 0;
    border-radius: 5px;
    transition-duration: 0.3s;
}
.full-screen-o .slick-dots li button:before {
    content: none;
}
.full-screen-o .slick-dots li:nth-child(1) button {
    background: #f5d1c3;
}
.full-screen-o .slick-dots li:nth-child(2) button {
    background: #a9b7ba;
}
.full-screen-o .slick-dots li:nth-child(3) button {
    background: #c4d7d1;
}
.full-screen-o .slick-dots li:nth-child(4) button {
    background: #b4b1a0;
}
.full-screen-o .slick-dots li:nth-child(5) button {
    background: #e5dfd3;
}
.full-screen-o .slick-dots li:nth-child(6) button {
    background: #ffefef;
}
.full-screen-o .slick-dots li:nth-child(7) button {
    background: #eaeaff;
}
.full-screen-o .slick-dots li button:hover, .full-screen-o .slick-dots li.slick-active button {
    border-radius: 0px;
    width: 12px;
    height: 12px;
}
